{% extends "layout.twig" %}

{% block pre_includes %}
    <title>Thiên Vũ Nè - Trang Blog</title>
{% endblock %}

{% block content %}
    <!-- page title -->
    <section class="page-title-section overlay" data-background="{{theme.uri}}/images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item">
                            <a class="h2 text-primary font-secondary" href="blog">Our Blog</a>
                        </li>
                        <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                    </ul>
                    <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->

    <!-- blogs -->
    <section class="section">
        <div class="container">
            <div class="row">
                {% for item in blog.articles %}
                    <!-- blog post -->
                    <article class="col-lg-4 col-sm-6 mb-5">
                        <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                            <img class="card-img-top rounded-0" src="{{theme.uri}}/images/blog/{{item.image}}" alt="Post thumb">
                            <div
                                class="card-body">
                                <!-- post meta -->
                                <ul
                                    class="list-inline mb-3">
                                    <!-- post date -->
                                    <li class="list-inline-item mr-3 ml-0">August 28, 2018</li>
                                    <!-- author -->
                                    <li class="list-inline-item mr-3 ml-0">By Somrat Sorkar</li>
                                </ul>
                                <a href="{{item.url}}">
                                    <h4 class="card-title">{{item.title}}</h4>
                                </a>
                                <p class="card-text">{{item.description}}</p>
                                <a href="{{item.url}}" class="btn btn-primary btn-sm">Chi Tiết -></a>
                            </div>
                        </div>
                    </article>
                    <!-- blog post -->
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /blogs -->
{% endblock %}
