<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta
        charset="utf-8">

        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- ** Plugins Needed for the Project ** -->
        <!-- Bootstrap -->
        <link
        rel="stylesheet" href="{{ theme.uri }}/plugins/bootstrap/bootstrap.min.css"> <!-- slick slider -->
        <link
        rel="stylesheet" href="{{ theme.uri }}/plugins/slick/slick.css">
        <!-- themefy-icon -->
        <link
        rel="stylesheet" href="{{ theme.uri }}/plugins/themify-icons/themify-icons.css">
        <!-- animation css -->
        <link
        rel="stylesheet" href="{{ theme.uri }}/plugins/animate/animate.css">
        <!-- aos -->
        <link
        rel="stylesheet" href="{{ theme.uri }}/plugins/aos/aos.css">
        <!-- venobox popup -->
        <link
        rel="stylesheet" href="{{ theme.uri }}/plugins/venobox/venobox.css">

        <!-- Main Stylesheet -->
        <link href="{{ theme.uri }}/css/style.css" rel="stylesheet">

        {% block pre_includes %}{% endblock %}

        <!--Favicon-->
        <link rel="shortcut icon" href="{{ theme.uri }}/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ theme.uri }}/images/favicon.ico" type="image/x-icon">

    </head>

    <body>
        {% include "snippets/header.twig" %}

        {% block content %}{% endblock %}

        {% include 'snippets/footer.twig' %}

        <!-- jQuery -->
        <script src="{{ theme.uri }}/plugins/jQuery/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="{{ theme.uri }}/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- slick slider -->
        <script src="{{ theme.uri }}/plugins/slick/slick.min.js"></script>
        <!-- aos -->
        <script src="{{ theme.uri }}/plugins/aos/aos.js"></script>
        <!-- venobox popup -->
        <script src="{{ theme.uri }}/plugins/venobox/venobox.min.js"></script>
        <!-- mixitup filter -->
        <script src="{{ theme.uri }}/plugins/mixitup/mixitup.min.js"></script>
        <!-- google map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
        <script src="{{ theme.uri }}/plugins/google-map/gmap.js"></script>

        <!-- Main Script -->
        <script src="{{ theme.uri }}/js/script.js"></script>
    </body>
</html>
