{% extends "layout.twig" %}

{% block pre_includes %}
    <title>Thiên Vũ Nè - Trang Courses</title>
{% endblock %}

{% block content %}
    <!-- page title -->
    <section class="page-title-section overlay" data-background="{{theme.uri}}/images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item">
                            <a class="h2 text-primary font-secondary" href="courses.html">Our Courses</a>
                        </li>
                        <li class="list-inline-item text-white h3 font-secondary "></li>
                    </ul>
                    <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->

    <!-- courses -->
    <section class="section">
        <div
            class="container">
            <!-- course list -->
            <div
                class="row justify-content-center">
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-1.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Photography</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-2.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Programming</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-3.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Lifestyle Archives</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-4.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Complete Freelancing</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-5.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Branding Design</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-6.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Art Design</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /course list -->
            <!-- course list -->
            <div
                class="row justify-content-center">
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-1.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Photography</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-2.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Programming</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-3.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Lifestyle Archives</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-4.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Complete Freelancing</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-5.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Branding Design</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
                <!-- course item -->
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                        <img class="card-img-top rounded-0" src="{{theme.uri}}/images/courses/course-6.jpg" alt="course thumb">
                        <div class="card-body">
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item">
                                    <i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                                <li class="list-inline-item">
                                    <a class="text-color" href="#">Humanities</a>
                                </li>
                            </ul>
                            <a href="course-single.html">
                                <h4 class="card-title">Art Design</h4>
                            </a>
                            <p class="card-text mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna.</p>
                            <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /course list -->
        </div>
    </section>
    <!-- /courses -->
{% endblock %}
